<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bilbo+Swash+Caps&family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <header>
      <div id="logo" style="font-family: 'Bilbo Swash Caps', cursive;"><span style="font-family: 'Berkshire Swash', cursive;">V</span>food</div>
      <section id="nav-links">
        <a href="/">HOME</a>
        <a href="/foodItems">FOOD MENU</a>
        <a href="/cart">MY CART</a>
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google">LOG IN</a>
        <% } %>
      </section>
    </header>
    