<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if (user) { %>
    <a href="/logout">LOG OUT</a>
   <h1>we did it! user logged in</h1>
  <% } else { %>
    <a href="/auth/google">LOG IN</a>
  <% } %>
</body>
</html>