<%- include('./partials/header') %>

  <!-- <section id="home-footer">
    <div>
      <img src="https://cdn.vox-cdn.com/thumbor/2pllrrWb0RBDkxpUeDBFoPN__kE=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22872590/VICTA_EATER_AT_HOME_VENEZUELAN_AREPAS__1.jpg" alt="arepas">
      <img src="https://i0.wp.com/nextpittsburgh.com/wp-content/uploads/2019/04/empanadas-at-Pabellon_used-by-permission.jpg?fit=750%2C658&ssl=1" alt="empanadas">
      <img src="https://travelfoodatlas.com/wp-content/uploads/2022/11/Venezuelan-Tequeno-735x509.jpg" alt="tequenos">
      <img src="https://media.istockphoto.com/id/636078920/photo/christmas-loaf-pan-de-jamon-close-up-horizontal.jpg?s=612x612&w=0&k=20&c=naCVnBR-bPbKeudpscQdasip5Se7ZEO-z3Imx7_NUOk=" alt="pan de jamon">
      <img src="https://www.goya.com/media/4098/venezuelan-shredded-beef.jpg?quality=80" alt="pabellon criollo">
    </div>
    <form action="/foodItems">
      <button>CHECK THEM OUT!</button>
    </form>
  </section> -->
  <section id="home-page">
    <div id="home-1">
      <h1 style="color: yellow">EVERY SUNDAY</h1>
      <h1 style="color: blue">BUY 2 AREPAS,</h1>
      <h1 style="color: red">GET 1 ON US!</h1>
      <div>
        <img src="https://img.freepik.com/free-photo/top-view-arepas-with-vegetables_23-2148716384.jpg?w=2000" alt="arepas">
        <img src="https://img.freepik.com/premium-photo/venezuelan-typical-food-arepa_214787-451.jpg" alt="arepas">
      </div>
    </div>
    <div id="home-2">
      <img src="https://thecraftingnook.com/wp-content/uploads/2014/02/Tizana-Fruit-Ponch-Tropical-Fruit-Punch-Tizana-Recipe.jpg" alt="tizana">
      <h2>Try our NEW Tizanas!</h2>
    </div>
    <div id="home-3">
      <p>We have the best Venezuelan food there is. You're going to love it...</p>
      <a href="/foodItems">CHECK IT OUT</a>
    </div>
  </section>

<%- include('./partials/footer') %>