<%- include('./partials/header') %>

  <section id="home-footer">
    <div>
      <img src="https://cdn.vox-cdn.com/thumbor/2pllrrWb0RBDkxpUeDBFoPN__kE=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22872590/VICTA_EATER_AT_HOME_VENEZUELAN_AREPAS__1.jpg" alt="arepas">
      <img src="https://i0.wp.com/nextpittsburgh.com/wp-content/uploads/2019/04/empanadas-at-Pabellon_used-by-permission.jpg?fit=750%2C658&ssl=1" alt="empanadas">
      <img src="https://travelfoodatlas.com/wp-content/uploads/2022/11/Venezuelan-Tequeno-735x509.jpg" alt="tequenos">
      <img src="https://media.istockphoto.com/id/636078920/photo/christmas-loaf-pan-de-jamon-close-up-horizontal.jpg?s=612x612&w=0&k=20&c=naCVnBR-bPbKeudpscQdasip5Se7ZEO-z3Imx7_NUOk=" alt="pan de jamon">
      <img src="https://www.goya.com/media/4098/venezuelan-shredded-beef.jpg?quality=80" alt="pabellon criollo">
    </div>
    <button>CHECK THEM OUT!</button>
  </section>

<%- include('./partials/footer') %>