<%- include('./partials/header') %>

  <section id="home-page">
    <div id="home-1">
      <h1 style="color: yellow">EVERY SUNDAY</h1>
      <h1 style="color: blue">BUY 2 AREPAS,</h1>
      <h1 style="color: red">GET 1 ON US!</h1>
      <div>
        <img src="https://img.freepik.com/free-photo/top-view-arepas-with-vegetables_23-2148716384.jpg?w=2000" alt="arepas">
        <img src="https://img.freepik.com/premium-photo/venezuelan-typical-food-arepa_214787-451.jpg" alt="arepas">
      </div>
    </div>
    <div id="home-2">
      <img src="https://thecraftingnook.com/wp-content/uploads/2014/02/Tizana-Fruit-Ponch-Tropical-Fruit-Punch-Tizana-Recipe.jpg" alt="tizana">
      <h2>Try our NEW Tizanas!</h2>
    </div>
    <div id="home-3">
      <p>We have the best Venezuelan food there is. You're going to love it...</p>
      <a href="/foodItems">CHECK IT OUT</a>
    </div>
  </section>

<%- include('./partials/footer') %>