* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
  padding-left: 10vmin;
  font-size: 6vmin;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 4vmin;
  width: 70vmax;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#home-footer {
  height: 20vh;
  width: 100vw;
  background-color: brown;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}