* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 210, 55);
  color: brown;
  width: 100vw;
  height: 10vh;
  /* position: fixed;
  top: 0;
  left: 0; */
}

#logo {
  padding-left: 15vmin;
  font-size: 8vmin;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 4vmin;
  width: 70vmax;
  font-family: 'Outfit', sans-serif;
}

header a {
  text-decoration: none;
  color: brown;
}

#home-footer {
  height: 20vh;
  width: 100vw;
  background-color: brown;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-footer img {
  height: 13vh;
  width: 13vh;
  border-radius: 50%;
}

/* #home-footer img:hover {
  height: 15vh;
  width: 15vh;
} */

#home-footer > div {
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home-footer {
  display: flex;
  justify-content: space-evenly;
}

#home-footer > button {
  margin-right: 5vw;
}

/* STYLING foodItems/index AND cart/index FROM HERE */

.food-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3vmin 2vmin;
}

.food-list-item {
  background-color: brown;
  width: 40vmin;
  height: 62vmin;
  margin: 3vmin 2vmin;
}

.food-list-item > h1 {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  height: 17vmin;
  font-size: 5vmin;
  padding: 2vmin 2vmin;
}

.food-list-item > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vmin;
}

.food-list-item h2 {
  font-size: 6vmin;
}

.food-list-item img {
  display: block;
  width: 40vmin;
  height: 30vmin;
}

.food-list-item button {
  height: 6vmin;
  width: 10vmin;
  color: brown;
  border-style: none;
  border-radius: 10%;
}

h2 > span {
  font-size: 4vmin;
}

#food-cart-item {
  height: 69vmin;
}

#item-amount {
  height: 5vmin;
  padding: 2vmin 0 2vmin 0;
  font-size: 4vmin;
}

/* STYLING foodItems/show FROM HERE*/

#show-item img {
  width: 60vmin;
}