* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 210, 55);
  color: brown;
  width: 100vw;
  height: 10vh;
}

#logo {
  padding-left: 15vmin;
  font-size: 8vmin;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 4vmin;
  width: 70vmax;
  font-family: 'Outfit', sans-serif;
}

header a {
  text-decoration: none;
  color: brown;
}

#home-footer {
  height: 20vh;
  width: 100vw;
  background-color: brown;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-footer img {
  height: 13vh;
  width: 13vh;
  border-radius: 50%;
}

#home-footer > div {
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home-footer {
  display: flex;
  justify-content: space-evenly;
}

#home-footer > button {
  margin-right: 5vw;
}

/* STYLING foodItems/index AND cart/index FROM HERE */

.food-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 2vmin;
}

.food-list-item {
  background-color: brown;
  width: 40vmin;
  height: 62vmin;
  margin: 0 2vmin 4vmin 2vmin;
}

.food-list-item > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  height: 17vmin;
  font-size: 5vmin;
  padding: 2vmin 2vmin;
}

.food-list-item > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vmin;
}

.food-list-item h2 {
  font-size: 6vmin;
}

.food-list-item img {
  display: block;
  width: 40vmin;
  height: 30vmin;
}

.food-list-item button {
  height: 6vmin;
  width: 10vmin;
  color: brown;
  border-style: none;
  border-radius: 1vmin;
  cursor: pointer;
}

h2 > span {
  font-size: 4vmin;
}

#food-cart-item {
  height: 69vmin;
}

#title, #total-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  padding: 6vmin 0;
  font-size: 6vmin;
  font-family: 'Outfit', sans-serif;
  color: brown;
}

#total-amount {
  padding: 2vmin 0;
  font-size: 4vmin;
  color: white;
}

.empty-cart {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  font-family: 'Outfit', sans-serif;
  color: brown;
}

#no-user-cart {
  height: 80vh;
}

/* STYLING foodItems/show FROM HERE*/

#show-item {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "image info"
    "reviews reviews";
}

#show-item-image {
  height: 70vh;
  padding-bottom: 6vmin;
  grid-area: image;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#show-item img {
  width: 65vmin;
  height: 45vmin;
}

#show-item img {
  margin-bottom: 3vmin;
}

#show-item-image button {
  font-size: 4vmin;
  padding: 1vmin;
  margin-bottom: 1vmin;
  background-color: brown;
  color: white;
  border-style: none;
  border-radius: 1vmin;
  cursor: pointer;
}

#show-item-info {
  height: 70vh;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#show-item-info > h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 8vmin;
  margin-right: 15vmin;
}

#show-item-info > p {
  font-family: 'Courgette', cursive;
  font-size: 3vmin;
  margin: 3vmin 15vmin 4vmin 0;
}

#show-item-info > h2 {
  align-self: flex-start;
  padding: 0 1vmin;
  font-size: 8vmin;
  margin-right: 15vmin;
  background-color: rgb(44, 210, 55);
  border-radius: 1vmin;
}

#show-item-reviews {
  border-top: solid 2px brown;
  padding-top: 3vmin;
  min-height: 20vh;
  grid-area: reviews;
}

#show-item-reviews > h3 {
  font-size: 7vmin;
  font-family: 'Outfit', sans-serif;
  margin: 0 0 3vmin 10vmin;
}

#review {
  display: flex;
  flex-direction: column;
  margin: 0 15vmin 3vmin 10vmin;
}

#review > h4 {
  font-size: 5vmin;
  font-family: 'Courgette', cursive;
}

#review span {
  font-size: 3vmin;
  font-family: 'Outfit', sans-serif;
}

#review > p {
  padding: 1vmin 0;
  overflow-wrap: break-word;
  font-size: 3vmin;
  font-family: 'Outfit', sans-serif;
}

textarea {
  width: 60vw;
  height: 10vmin;
  resize: none;
  margin: 0 0 3vmin 10vmin;
  font-size: 3vmin;
  padding-left: 2vmin;
}

#show-item-reviews input {
  position: relative;
  bottom: 5vmin;
  height: 5vmin;
  width: 20vmin;
  margin-left: 1vmin;
  background-color: brown;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 2vmin;
}

#review button {
  margin: 1vmin 0;
  height: 3vmin;
  background-color: brown;
  border-style: none;
  color: white;
  cursor: pointer;
}

#show-item-reviews h1 {
  margin: 0 0 3vmin 10vmin;
  font-size: 4vmin;
  font-family: 'Outfit', sans-serif;
}