<%- include('../partials/header') %>

  <section id="cart">
    <% if (user) { %>
        <h1>mmmmm</h1>
    <% } else {%>
      <h1>OH NO! <%= errorMsg %></h1>
    <% } %>
  </section>

<%- include('../partials/footer') %>