<%- include('../partials/header') %>

  <section id="cart">
    <% if (user) { %>
        <% cart.foodItems.forEach(item => { %>
        <h1><%= item.name %></h1>
        <% }) %>
    <% } else {%>
      <h1>OH NO! <%= errorMsg %></h1>
    <% } %>
  </section>

<%- include('../partials/footer') %>